@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="get">
        <div>
            <input type="hidden" name="handler" value="add" />
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" /><input type="submit" /><br>
            <span asp-validation-for="Name"></span>
        </div>
    </form>
</div>

@if (Model.ToDoList.Count() > 0)
{
    <p class="display-4">Seznam úkolů:</p>
    <ul>
        @foreach (var item in Model.ToDoList)
        {
            <li>(@item.Id) @item.Name</li>
        }
    </ul>
}

